body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1D314A;
  color: #FFF;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #FFD700;
}

nav a:hover {
  color: #FF69B4;
}

h1, h2, h3 {
  font-family: 'Impact', sans-serif;
  color: #FFD700;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
nav {
  text-align: center;
  background-color: #1D314A;
  padding: 20px;

  a {
    margin: 0 15px;
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #FF69B4;
    }
  }
  img.logo {
  border-radius: 50%;
}

}

